.cart-page {
  width: 100%;
}
.main-cart {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.main-cart span,
.main-cart svg {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 5px;
  cursor: pointer;
}
.cart-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.box {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 20px;
  padding: 15px;
  font-family: "Satoshi", sans-serif;
}
.box1 {
  width: 715px;
  height: 468px;
}

/* || SMALL */
@media screen and (max-width: 576px) {
  .cart-box {
    flex-direction: column;
  }
  .box1 {
    width: 100%;
    height: 389px;
  }
  .box2 {
    width: 100%;
  }
}
