.checkout-page {
  width: 100%;
}
.main-checkout {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.main-checkout span,
.main-checkout svg {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 5px;
  cursor: pointer;
}
.checkout-box {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.box {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 20px;
  padding: 15px;
  font-family: "Satoshi", sans-serif;
}
.box1 {
  font-family: "Satoshi", sans-serif;
  background-color: rgb(0 0 0 / 10%);
  padding: 1rem 3rem;
}
.box1 h2 {
  font-size: 24px;
  font-weight: 700;
}
.address {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formic {
  margin-top: 1rem;
}
.formic p {
  font-size: 16px;
  font-weight: 500;
  color: grey;
  margin-bottom: 10px;
}
.formic input {
  width: 100%;
  border: none;
  outline: none;
  color: grey;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 62px;
  margin-bottom: 10px;
}
.formic select {
  width: 278px;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 62px;
}
.postcode {
  display: flex;
  justify-content: space-between;
}
.btns {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  gap: 40px;
}
.btns p {
  color: grey;
  margin-top: 0.7rem;
}
.btns .done {
  width: 200px;
  background-color: #fca518;
  color: #fff;
}
.btns .done:hover {
  background-color: rgba(252, 165, 24, 0.1);
  border: 2px solid #fca518;
  color: #000;
}

/* || SMALL */
@media screen and (max-width: 576px) {
  .checkout-box {
    justify-content: center;
    flex-direction: column;
  }
  .checkout-box {
    height: 1100px;
  }
  .box1 {
    max-height: 772px !important;
    padding: 0.7rem 1rem;
  }
  .expand-box {
    height: 607px;
  }
  .address,
  .postcode {
    flex-direction: column;
  }
  .btns .done {
    width: 146px;
    pointer-events: none;
  }
  .btns p {
    font-size: 14px;
    font-weight: 500;
  }
}
