.line {
  width: 85%;
  position: relative;
  left: 100px;
  border: 1px solid rgb(0 0 0 / 10%);
  margin: 6rem 0;
}
.product-card h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 4rem;
}
.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 4rem;
  place-items: center;
  padding: 0 3rem;
}

/* ||SMALL */
@media screen and (max-width: 576px) {
  .line {
    width: 90%;
    left: 16px;
    margin: 3rem 0;
  }
  .product-card h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .card-container {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
